// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Select2
@import "~admin-lte/plugins/select2/css/select2.min.css";

@import "~admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css";


@font-face {
    font-family: "Pyidaungsu";
    src: url("/fonts/pyidaungsu/Pyidaungsu.eot") format("embedded-opentype"),
        url("/fonts/pyidaungsu/Pyidaungsu.woff2") format("woff2"),
        url("/fonts/pyidaungsu/Pyidaungsu.woff") format("woff"),
        url("/fonts/pyidaungsu/Pyidaungsu.ttf") format("truetype"),
        url("/fonts/pyidaungsu/Pyidaungsu.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Archivo', sans-serif, Pyidaungsu;
	color: #5f6368;
}
a:hover{
	text-decoration: none;
}

/*Top Header */
#top-header{
	background: #334390;
	color: #ffffff;
}
.lang-flag{
	width: 25px;
	height: 25px;
}
#top-bar-right a{
	color: #ffffff;
}
#top-header a{
	color: #ffffff;
}

/*Header Bottom*/
#header-bottom{
	background: #FDFE03;
}
.header-contact a{
	color: #000000;
}
.header-contact a:hover{
	text-decoration: none;
}
.nav-item .nav-link{
	color: #000000;
	font-weight: bold;
}
.nav-item .nav-link:hover{
	color: #EB3B34;
}
.nav-item .nav-link.active {
	color: #EB3B34;
}
.dropdown-toggle:after{
	display: none;
}
.dropdown-menu{
	border-top: 5px solid #EB3B34;
}
.dropdown-item{
	font-weight: bold;
}
.dropdown-item:hover{
	color: #EB3B34;
}
.navbar-toggler-icon{
	color: #ffffff;
	height: 1.2em;
}
.navbar-toggler{
	background-color: #334390;
	float: right;
}
/*Home Page Slider*/
#home-page-slider img{
	max-height: 700px;
	min-height: 300px;
}
.carousel-indicator{
	color: #EB3B34;
	border: 2px solid #EB3B34;
	border-radius: 50px;
	padding: 5px 10px;
}

/*Home Page Slider Widget*/
.widget-box{
	background-color: #ffffff;
	padding: 10px;
	color: #5f6368;
	border: 1px solid #5f6368;
}
.widget-box.active{
	border: 1px solid #3979FA;
	background-color: #EB3B34;
	padding: 10px;
	color: #ffffff;
}
.widget-box i{
	font-size: 40px;
	color: #5f6368;
}
.widget-box.active i{
	color: #ffffff;
}
.widget-box a{
	color: #5f6368;
}

/*Home Page Waybill Search*/
.search-input-form{
	border-radius: 0;
	padding: 20px 15px;
	border: 1px solid #3979FA;
}
.search-submit{
	background-color: #EB3B34;
	padding: 6px 15px;
	color: #ffffff;
	border: 1px solid #3979FA;
}
#waybill-error{
	background-color: #ffffff;
}

/*Home Page Welcome Text*/
.welcome-text-header{
	font-weight: bold;
	color: #000000;
}
.home-page-intro{
	font-weight: bold;
	font-size: 1em;
	color: #000000;
}

/*Home Page Cargo Shipment*/
.shipments a{
	font-weight: bold;
	color: #000000;
}
.shipments.active a{
	font-weight: bold;
	color: #EB3B34;
}
.shipments-img{
	height: 150px;
}
.shipments.active .shipments-img{
	background-color: #FDE93E;
}
/*Home Page Info*/
#home-page-info i{
	color: #EB3B34;
	font-size: 60px;
}
.home-page-info-title{
	color: #EB3B34;
	font-size: 20px;
}
#home-page-info span a{
	color: #5f6368;
}

/*privacy policy*/
.banner{
	position: relative;
}
.banner-image-overlay{
	background: #000000;
}
.banner-image{
	opacity: 0.8;
}
.banner-text{
	position: absolute;
	top: 30%;
	background-color: rgba(22, 83, 113, 0.9);
	color: #ffffff;
	padding: 5px 15px;
	border-radius: 10px;
}
.banner-text.without-discription{
	background-color: transparent;
    top: 40%;
}
.banner-text h1{
	font-weight: 900;
	text-shadow: 3px 3px 3px #000;
}
.banner-text p{
	font-weight: 600;
	text-shadow: 1px 1px 1px #000;
}
/*privacy policy*/
.privacy-policy h2, .privacy-policy h3, .gallery h2, .gallery h3, 
.profile h2, .profile h3,
.budget-courier-service h2, .budget-courier-service h3,
.express-mail h2, .express-mail h3,
.home-delivery h2, .home-delivery h3,
.international-express h2, .international-express h3, .complain-form h3,
.event h3, .event-show h3, .career h3, .promotion h3, .info-window h3,
.pick-up-form h3 {
	color: #EB3B34;
} 
.privacy-policy h4,
.gallery h4,
.profile h4,
.budget-courier-service h4,
.express-mail h4,
.home-delivery h4,
.international-express h4 {
	color: #334390;
}
/*complain form*/
.complain-submit, .branch-submit, .rate-submit, .pickup-submit {
	background: #EB3B34;
	color: #ffffff;
	padding: 5px 30px;
	height: 37.03px;
} 
.complain-submit:hover,
.branch-submit:hover,
.rate-submit:hover, .pickup-submit:hover{
	color: #ffffff;
	background: #334390;
}
/*term and condition*/
.term-condition h2, .term-condition h3{
	color: #EB3B34;
}
.term-condition h4{
	color: #334390;
}

/*waybill area*/
#waybill-area{
	min-height: 500px;
}
.waybill{
	font-weight: bold;
	font-size: 1.15em;
}
.waybill.number{
	font-size: 1.25em;
	color: #EB3B34;
}
/*waybill step by step process bar*/
.StepProgress {
  position: relative;
  list-style: none;
}
.StepProgress::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 7%;
  left: 13px;
  height: 80%;
  border-left: 3px dotted #CCC;
}
.StepProgress-item {
  position: relative;
}
.StepProgress-item:not(:last-child) {
  padding-bottom: 20px;
}
.StepProgress-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 20%;
  left: -40px;
  width: 30px;
  height: 30px;
  border: 2px solid #334390;
  border-radius: 50%;
  background-color: #334390;
  z-index: 1;
}
.StepProgress-item.is-done::after {
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 1.2em;
  color: #FFF;
  text-align: center;
  border: 2px solid #334390;
  background-color: #334390;
}
.waybill-table th, .waybill-table td{
	text-align: center;
	color: #5f6368;
}
.waybill-table table.table-bordered{
    border:1px solid #558FCD;
    margin-top:20px;
  }
.waybill-table table > thead > tr > th{
    border:1px solid #558FCD;
    color: white;
    background-color: #334390;
}
.waybill-table table.table-bordered > tbody > tr > td{
    border:1px solid #558FCD;
}
.waybill-table time{
	color: #000;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  padding: 0 0 0 32px;
}
.panel-group-one::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 7%;
  left: 24px;
  height: 86%;
  border-left: 3px dotted #CCC;
}
.panel-default h5 {
  font-size: 19px;
  font-weight: bold;
  margin: 0 0 5px;
}
.panel-group-one .panel+.panel {
  margin-top: 15px;
}
.panel-default .accordion-toggle:before {
  content: '';
  border: 2px solid #334390;
  background-color: #334390;
  width: 21px;
  height: 21px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  top: 4px;
  z-index: 2;
}
.panel-default .accordion-toggle.complete:before {
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 15px;
  color: #FFF;
  text-align: center;
  top: 0;
}
.panel-heading-two{
	border-bottom: 1px solid #EB3B34;
	text-align: center;
}
.panel-heading-two a{
	color: #EB3B34;
}
#accordion .panel-heading-two .accordion-toggle::before {
	font-family: 'FontAwesome';
	content: '\f00d';
	float: left;
	color: #EB3B34;
	font-weight: lighter;
	transform: rotate(0deg);
	transition: all 0.2s ease-in;
}
  #accordion .panel-heading-two .accordion-toggle.collapsed::before {
	color: #444;
	transform: rotate(-135deg);
	transition: all 0.2s ease-in;
}
/*gallert*/
#gallery img{
	border: 2px solid #EB3B34;
	border-radius: 5px;
	box-shadow:rgba(22, 83, 113, 0.9);
}
#gallery p{
	font-size: 18px;
	font-weight: 700;
}
/*tracking*/
#tracking{
	min-height: 400px;
}
.tracking-text p{
	font-weight: 400;
	text-shadow: none;
	font-size: 0.8rem;
}
/*event*/
.event, .career, .promotion{
	border: 1px solid #5f6368;
	border-radius: 10px;
	box-shadow: 3px 3px 3px#444;
}
.event-show h1{
	color: #EB3B34;
	text-shadow: 2px 2px 2px#444;
	font-weight: 600;
}
.event-show img{
	box-shadow: 3px 3px 3px#444;
	border-radius: 5px;
	border: 1px solid #334390;
	height: 300px;
}
.event-show span{
	color: #334390;
}
.post-image{
	border-radius: 10px 10px 0 0;
}
.post-read{
	background: #EB3B34;
	color: #ffffff;
	padding: 10px 20px;
	border: 1px solid #5f6368;
	border-radius: 5px;
}
.post-read:hover{
	color: #ffffff;
	background: #334390;
}
.card-footer span{
	color: #ffffff;
}
/*Branches*/
.map-box{
	border: 2px solid #334390;
	box-shadow: 2px 2px 2px #444;
}
.branches label{
	font-weight: 600;
	font-size: 1.5em;
	color: #EB3B34;
	text-shadow: 1px 1px 1px #444;
}
.map table th{
	background: #334390;
	color: #ffffff;
	font-weight: 600;
}
.info-window-image {
	background: #FDE93E;
}
.info-window{
	color: #000;
	font-size: 0.8em;
}
.info-window h3{
	font-size: 1.5em;
}
.gm-style-iw {
    min-height: 120px;
	width: 300px;
}
.gm-style .gm-style-iw-c{
	padding: 0;
	overflow: hidden;
}
.gm-style-iw > div {
	overflow: visible !important;   
}
.info-window i{
	color: #EB3B34;
	font-size: 1.5em;
}
.vs--searchable .vs__dropdown-toggle {
	height: 37.03px;
}
/*Pickup Form*/
.pick-up-form{
	border: 1px solid #444;
	border-top: 5px solid #334390;
	border-radius: 5px;
}
.create-pick-up{
	background: #CECECE;
	border-radius: 5px;
}
.shipping-info h3 {
	color: #fff;
	font-weight: 700;
}
.shipping-info-title {
	background: #334390;
	border-radius: 5px 5px 0px 0px;
}
.shipping-info {
	border: 1px solid #CECECE;
	border-radius: 5px;
}
/*Footer*/
#footer{
	background-color: #EB3B34;
	color: #ffffff;
	padding: 25px 20px;
}
#footer a{
	color: #ffffff; 
}
@media only screen and (max-width: 1440px) {
	.widget-box{
		height: 107px;
	}
}
@media only screen and (max-width: 1024px) {
	.banner-text{
		top: 12%;
	}
}

@media only screen and (max-width: 480px) {
	.panel-default h5 {
		font-size: 14px;
	}

	#tracking .banner-text {
		border-radius: unset;
	}
}
@media only screen and (max-width: 425px) {
	.banner-text h1 {
		font-size: 1em;
	}
	.banner-text p{
		font-size: 0.5em;
	}
}
@media only screen and (max-width: 320px) {
	
}

#main-content {
	min-height: 400px;
}
